@model IEnumerable<MVCLesson_09.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@* this for merge to partial page.partial page merge korar jonno must be Underscore(_) dite hobe *@

@* @Html.Partial("_EMP") *@

@Html.Partial("_AllStudent")